*{
    font-family: inter;
}

body{
    background-color: #23252f;
}

.nav-tab{
    cursor: pointer;
    
}

.nav-button{
    padding: 8px;
    cursor: pointer;

}

.nav-button:hover{
    background-color: #59587c;
    border-radius: 5px;
}

.cta-button{
    background-color: #3B3A51;
    cursor: pointer;
    border-radius: 5px;
}

.cta-button:hover{
    background-color: #2B2A41;
}

